{% extends "core/base.html" %}
{% load embed_video_tags %}
{% block title %}{{song.name}}{% endblock %}
{% block content %}
    <div class="row">
        <h2>
            Song: {{song.name}}
            <div class="pull-right">
                <a href="{% url 'songs:song_edit' song.pk %}">
                    <i class="fa fa-pencil-square">Edit</i>
                </a>
            </div>
        </h2>
    </div>
    <div class="row">
        <div class="col-md-5 col-offset-1">
            <p class="lead">Artist</p>
            <p>{{song.get_artist_names}}</p>
        </div>
    </div>
        <div class="row">
        <div class="col-md-5 col-offset-1">
            <p class="lead">Length</p>
            <p>{{song.length}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            {% video song.video as my_video %}
            {% video my_video "large" %}
            {% endvideo %}
        </div>

    </div>


{% endblock content %}  


