{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <title>
        {% block title %} {% endblock title %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/styles.css' %}" />
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
</head>

<body>
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="{% url 'core:index' %}" class="navbar-brand">
                    Music Library
                </a>
                </div>
                <div id="header-navbar-collapse" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        {% if user %}
                        <li>
                            <a href="{% url 'artists:artist_list' %}">Artists</a>
                        </li>
                        <li>
                            <a href="{% url 'album:album_list' %}">Albums</a>
                        </li>
                        <li>
                            <a href="{% url 'songs:song_list' %}">Songs</a>
                        </li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user %}
                        <li>
                            <p class="navbar-text">Welcome!&nbsp;&nbsp;<span id="base_name">{{ user.myuser.nickname }}</span></p>
                        </li>
                        <li><a href="{% url 'core:logout' %}">Logout</a></li>
                        <li><a href="{% url 'core:set_password' %}">Reset Password</a></li>
                        {% else %}
                        <li><a href="{% url 'core:signup' %}">Sign up</a></li>
                        <li><a href="{% url 'core:login' %}">Sign in</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <!-- end container -->
        </nav>
    </header>
    <div class="container">
        <div class="content">
            {% block content %} {% endblock %}
        </div>
    </div>
    <footer class="footer" role="contentinfo">
        <hr>
        <div class="container">
            <p class="text-center">©All rights reserved</p>
            <h5 class="text-center"> Powered by&nbsp;
                <a href="https://github.com/Mr-Phoebe">HaonanWu</a>
            </h5>
        </div>
    </footer>
</body>

</html>