{% extends "core/base.html" %}
{% block title %}User List{% endblock %}
{% block content %}
    <h1 class="page-header">Users</h1>
    <table class="table table-hover">
        {% if datas %}
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Playlists</th>
                    <th>Detial</th>
                    <th>Follow</th>
                </tr>
            </thead>
            <tbody>
                {% for data in datas %}
                <tr>
                    <td>{{ data.user.nickname }}</td>
                    <td>{{ data.num }}</td>
                    <td>
                        <a href="{{ data.user.get_absolute_url }}">
                        <button class="btn btn-info">Detail</button>
                        </a>
                    </td>
                    <td>
                        <button class="btn btn-success" type="submit" id="follow">Follow</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        {% else %}
            <p>No users found.</p>
        {% endif %}
        <hr>
    </table>
{% endblock content %}











